# ============================================================
# inscription — Microservice Inscription (Admissions) — SIGAPEI
# ============================================================
APP_NAME=inscription
APP_ENV=local
APP_KEY=base64:c2lnYXBlaS1pbnNjcmlwdGlvbi1zZWNyZXQta2V5LTIwMjY=
APP_DEBUG=true
APP_URL=http://localhost:4003
APP_PORT=4003

# --- Base de données PostgreSQL (Base unique Neon, schéma "inscription") ---
DB_CONNECTION=pgsql
DB_HOST=ep-raspy-brook-b46yo20b-pooler.c-6.us-east-2.aws.neon.tech
DB_PORT=5432
DB_DATABASE=neondb
DB_USERNAME=change-me-fourni-par-le-chef
DB_PASSWORD=change-me-fourni-par-le-chef
DB_SCHEMA=inscription
DB_SSLMODE=require

# --- Redis Partagé (Base Redis n°2 dédiée à Inscription) ---
REDIS_HOST=redis
REDIS_PORT=6379
REDIS_PASSWORD=
REDIS_DB=2

# --- RabbitMQ Partagé (Bus d'événements inter-microservices) ---
RABBITMQ_HOST=rabbitmq
RABBITMQ_PORT=5672
RABBITMQ_USER=sigapei
RABBITMQ_PASSWORD=change-me
RABBITMQ_URL=amqp://${RABBITMQ_USER}:${RABBITMQ_PASSWORD}@${RABBITMQ_HOST}:${RABBITMQ_PORT}
RABBITMQ_EXCHANGE=sigapei.events
RABBITMQ_QUEUE_INSCRIPTION=inscription.events

# --- JWT SSO (Émis par identite) ---
JWT_ACCESS_SECRET=change-me-access-secret-min-32-chars
JWT_ALGO=HS256
JWT_ISSUER=api-identite.sigapei.com

# --- Secret Interne Partagé (Passerelle Gateway / Inter-services) ---
INTERNAL_API_SECRET=change-me-shared-secret-gateway

# --- CAPTCHA Partagé (reCAPTCHA v3 ou hCaptcha) ---
CAPTCHA_PROVIDER=recaptcha
CAPTCHA_SECRET_KEY=change-me-cle-secrete-serveur
CAPTCHA_MIN_SCORE=0.5

# --- Stockage Objet (S3 / MinIO) pour pièces justificatives ---
FILESYSTEM_DISK=s3
AWS_ACCESS_KEY_ID=minioadmin
AWS_SECRET_ACCESS_KEY=minioadmin
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=sigapei-documents
AWS_ENDPOINT=http://minio:9000
AWS_USE_PATH_STYLE_ENDPOINT=true

# --- Logging & Audit ---
LOG_CHANNEL=stack
LOG_LEVEL=debug
